<%- include('partials/header') -%>

    <h1>welcome to your profile!</h1>
    <div>
        
        <a href="/today" class="col-3 btn btn-primary">Today</a>
    </div>
    <div>
        
        <a href="/tomorrow" class="col-3 btn btn-primary">Tomorrow</a>
    </div>
    <div>
        
        <a href="/logout" class="col-3 btn btn-primary">Logout</a>
    </div>
<%- include('partials/footer') -%>