<%- include('partials/header') -%>

    <h1>welcome to today!</h1>
    <div>
        
        <a href="/profile" class="col-3 btn btn-primary">Your Profile</a>
    </div>
    <div>
        
        <a href="/tomorrow" class="col-3 btn btn-primary">tomorrow</a>
    </div>
    <div>
        
        <a href="/logout" class="col-3 btn btn-primary">Logout</a>
    </div>
<%- include('partials/footer') -%>