<%- include('partials/header') -%>

    <h1>welcome to tomorrow!</h1>
    <div>
        
        <a href="/profile" class="col-3 btn btn-primary">Your Profile</a>
    </div>
    <div>
        
        <a href="/today" class="col-3 btn btn-primary">Today</a>
    </div>
    <div>
        
        <a href="/logout" class="col-3 btn btn-primary">Logout</a>
    </div>
<%- include('partials/footer') -%>