<%- include('partials/header') -%>

    <h1>Set your goals for tomorrow, <%= userInfo.userName %></h1>

    <% if (nextDay.dailyTasks.length === 0) { %>
    <h2>You have no tasks!</h2>
    <% } %>

    <div>
        
        <a href="/profile" class="col-3 btn btn-primary">Your Profile</a>
    </div>
    <div>
        
        <a href="/today" class="col-3 btn btn-primary">Today</a>
    </div>
    <div>
        
        <a href="/logout" class="col-3 btn btn-primary">Logout</a>
    </div>
<%- include('partials/footer') -%>